
body {
    margin-top: 25px;
    margin-bottom: 50px;
}

h3 {
    text-align: center;
}

/* For tablet-sized screens and larger ...
 * Source: https://www.w3schools.com/css/css_rwd_mediaqueries.asp
 * */
@media only screen and (min-width: 768px) {
    .date {
        text-align: right;
    }    
}
